<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AmazonAutomationSuite" parallel="tests" thread-count="2">

    <test name="iPhoneTest">
        <classes>
            <class name="tests.IPhoneTest"/>
        </classes>
    </test>

    <test name="GalaxyTest">
        <classes>
            <class name="tests.GalaxyTest"/>
        </classes>
    </test>

</suite>
